body{
    background-color: white;
    margin: 0%;
    box-shadow: gray;
}

.resume-container{
    display: flex;
    margin: auto;
    background-color: white;
    box-shadow: rgba(0,0,0,0.1);
}

.sidebar{
    padding: 30px;
    background: white;
    width: 30%;
    color: #000;
}

.profile-pic{
    width: 200px;
    border: #000;
}

.main-content span{
    color: red;
}

.main-content h3{
    color: gray;
    margin-top: 0;
}
.job{
    justify-content: space-between;
}

    
    